# JWT shared with user-service
JWT_SECRET=your_shared_jwt_secret

# PostgreSQL
DB_URL=jdbc:postgresql://postgres:5432/shipment_service
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JPA
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

# OpenRouteService
# Consigue una clave en: https://openrouteservice.org/dev/#/signup
ORS_API_KEY=YOUR_API_KEY_HERE